<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Overall Ranking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar animated (ionCancel)="searchCancel()" (ionChange)="search($event)"></ion-searchbar>
  <ion-list>

    <ion-item *ngFor="let r of rankData">

      <ion-label>
        <h2>{{ r.name }}</h2>
        <h3>{{ r.college }}</h3>
        <p>Rank: {{ r.rank }}&nbsp;&nbsp;&nbsp;Score: {{ r.score }}&nbsp;&nbsp;&nbsp;Gender: {{ r.gender }}</p>
      </ion-label>
      <ion-icon *ngIf="r.color" name="trophy" slot="end" [class]="r.color"></ion-icon>
    </ion-item>
    
  </ion-list>
</ion-content>