<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Lesson
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar animated (ionCancel)="searchCancel()" (ionChange)="search($event)"></ion-searchbar>
  <ion-item *ngFor="let l of lessonData" (click)="lessonDetailedPage(l)">
    <ion-label>
      <h2>{{ l.lesson_title }}</h2>
      <h3>{{ l.region }}</h3>
    </ion-label>
    <ion-icon name="arrow-dropright"></ion-icon>
  </ion-item>

</ion-content>
